@use "../helpers" as *;

.vmb-rooms-wrapper {
    padding: 2rem 0px;

    .vmb-room-filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        list-style: none;

        span {
            cursor: pointer;
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            transition: all 0.3s opacity;

            &:hover {   
                opacity: 0.8;
            }

            &.active {
                font-weight: 600;
            }
        }
    }

    .vmb-rooms {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
       

        .vmb-room {
            display: flex;
            align-items: flex-start;
            padding: 10px;
            gap: 20px;
            background: #fafafa;
            border-radius: 8px;

            @include maxBreakpoint('sm') {
                flex-direction: column;
            }

            img {
                width: 35%;
                height: 300px;
                border-radius: 4px;
                object-fit: cover;

                @include maxBreakpoint('sm') {
                    width: 100%;
                    height: 200px;
                }
            }

            .vmb-room-title {
                margin-top: 1rem;
            }

            .vmb-room-short-description {
                margin-bottom: 1rem;
            }

            .vmb-room-content {
                margin-bottom: auto;
                padding: 0 0.5rem;
            }

            .vmb-room-amenities {
                ul {
                    columns: 2;
                    padding-left: 0;

                    li {
                        font-size: 14px;
                        margin-right: 1rem;
                        list-style: none;
                        font-weight: 400;
                        color: #666;

                        i {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}