.vmb-faq-accordion {
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  
    .faq-item {
      border: 1px solid #ddd;
      border-radius: 6px;
      margin-bottom: 10px;
      overflow: hidden;
      transition: box-shadow 0.3s;
  
      &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }
  
      .faq-question {
        background-color: #f7f7f7;
        padding: 15px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        h3 {
          margin: 0;
          font-size: 18px;
          color: var(--e-global-color-primary);
        }
  
        .faq-toggle-icon {
          font-size: 24px;
          font-weight: bold;
          line-height: 1;
          transition: transform 0.3s ease;
        }
      }
  
      .faq-answer {
        padding: 15px;
        background: #fff;
        display: none;

        p {
            margin: 0;
        }
  
        &.open {
          display: block;
        }
      }
    }
  }